@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#app {
    @apply flex flex-col min-h-screen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold text-black;
}

h1 {
    @apply text-5xl text-black;
}

h2 {
    @apply text-4xl text-black;
}

h3 {
    @apply text-3xl text-black;
}

h4 {
    @apply text-2xl text-black;
}

h5 {
    @apply text-xl text-black;
}

h6 {
    @apply text-lg text-black
}

p {
    @apply text-xl text-white
}